body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Mise en forme du header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6247;
  border-bottom: 5px solid #a82d2d;
  height: 80px;
  width: 100%;
  font-family: "Press Start 2P", cursive;
}

header #logo {
  height: 70px;
  margin: 0px 50px;
}

header nav {
  width: 50%;
  margin: 60px;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

header li {
  background-color: #ff8826f8;
  border: 3px solid #f03838;
  border-radius: 10px;
  font-size: 20px;
  padding: 15px 15px;
}

.bounce-navbox:hover {
  animation-name: bounce-navbox;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes bounce-navbox {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  30% {
    transform: scale(0.95, 1.05) translateY(-20px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

header a {
  text-decoration: none;
  color: #2b2b2b;
}

/* Fin de la mise en forme du header */

/* Mise en forme de la page d'accueil */

#body_acceuil {
  height: 100vh;
}

#main_accueil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-image: url(img/accueil/backgroundaccueil.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#main_accueil #logoaccueil {
  align-self: flex-start;
  margin: 40px;
  margin-bottom: 10px;
  width: 550px;
}

#main_accueil #slogan {
  font-family: "Ubuntu Mono", cursive;
  font-size: 40px;
  line-height: 1.2em;
  color: #2b2b2b;
  width: 85%;
  padding: 15px;
  border: 10px solid #ff4800d8;
  border-radius: 15px;
  background-color: #ff9b28fa;
}

#main_accueil #tiroir_liens {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-bottom: 50px;
}

#main_accueil .container_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 23%;
  padding: 10px;
  border: 10px solid #ff4800d8;
  border-radius: 15px;
  background-color: #ff9b28fa;
}

#main_accueil .container_nav img {
  height: 130px;
}

#main_accueil .container_nav p,
#main_accueil .container_nav a {
  font-size: 20px;
  text-decoration: none;
  color: #2b2b2b;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

/* Fin de la mise en forme de la page d'accueil */

/* Mise en forme de Actus */

#body_actus {
  background-image: url(img/actus/backgroundactus.jpg);
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#main_actus {
  margin: 30px;
  padding: 20px;
  border-radius: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffe7;
  font-family: "Ubuntu Mono", cursive;
}

#main_actus h1 {
  align-self: flex-start;
  margin-left: 70px;
  font-size: 40px;
  color: #000a91;
  font-family: "Press Start 2P", cursive;
}

#main_actus section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

#main_actus section h2 {
  align-self: flex-start;
  margin-left: 80px;
  font-size: 30px;
  color: #222ed4;
}

#main_actus .article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 3px solid #2d54a8;
  border-radius: 20px;
}

#main_actus .article img {
  height: 200px;
}

#main_actus .article p {
  width: 60%;
  font-size: 20px;
  line-height: 1.5em;
  color: #2d54a8;
}

#main_actus form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  font-family: "Ubuntu Mono", cursive;
}

#main_actus form h3 {
  font-size: 30px;
  color: #222caf;
  margin: 10px;
}

#main_actus form p {
  font-size: 25px;
  color: #2d54a8;
}

#main_actus form #inputmail {
  border: 2px solid #353a7e;
  background-color: #93a6d1;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

#main_actus form #inputmail .input_label {
  font-family: Gravity;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  color: #2d327c;
  font-family: "Ubuntu Mono", cursive;
}

#main_actus form #inputmail .input_field {
  font-family: Gravity;
  font-size: 16px;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  flex-grow: 1;
  font-family: "Ubuntu Mono", cursive;
  color: #2d327c;
}

#main_actus form #inputmail .input_field:focus {
  outline: none;
}

#main_actus form #envoyer {
  height: 50px;
  width: 160px;
  font-family: Gravity;
  font-size: 20px;
  background-color: #93a6d1;
  border: 3px solid #2d327c;
  border-radius: 6px;
  margin: 30px;
  font-family: "Ubuntu Mono", cursive;
}

/* Fin de la mise en forme de Actus */

/* Mise en forme de Contact */

#body_contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: url(img/contact/backgroundactus.jpg);
}

#main_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  background-color: #6f88c2f6;
  margin: 40px 0;
  border-radius: 30px;
  font-family: "Ubuntu Mono", cursive;
}

#main_contact h1 {
  font-size: 40px;
  color: #1d215e;
  font-family: "Press Start 2P", cursive;
}

#main_contact p {
  font-size: 30px;
  width: 90%;
  text-align: center;
  margin-bottom: 60px;
  color: #2d54a8;
}

#main_contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

#main_contact form #userid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#main_contact form #theme_objet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

#main_contact form #theme {
  height: 25px;
  color: #353a7e;
}

#main_contact form #theme:focus {
  background-color: #6f88c2;
  color: #353a7e;
}

#main_contact form .input_group {
  border: 2px solid #353a7e;
  background-color: #6f88c2;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
}

#main_contact form .input_group .input_label {
  font-family: "Ubuntu Mono", cursive;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  color: #2d327c;
}

#main_contact form .input_group .input_field {
  font-family: "Ubuntu Mono", cursive;
  font-size: 16px;
  background-color: transparent;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  height: 20px;
  flex-grow: 1;
  color: #353a7e;
}

#main_contact form .input_group .input_field:focus {
  outline: none;
}

#main_contact form #votre_message {
  background-color: #6f88c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 40px;
}

#main_contact form #label_message {
  align-self: flex-start;
  margin-bottom: 20px;
  color: #2d327c;
}

#main_contact form #message {
  font-size: 18px;
  background: transparent;
  border: 2px solid #2d327c;
  padding: 10px;
  border-radius: 20px;
  resize: none;
  color: #353a7e;
}

#main_contact form #message:focus {
  outline: none;
}

#main_contact form #envoyer {
  height: 50px;
  width: 160px;
  font-family: "Ubuntu Mono", cursive;
  font-size: 20px;
  background-color: #6f88c2;
  border: 3px solid #2d327c;
  border-radius: 6px;
  margin: 30px;
  color: #353a7e;
}

/* Fin de la mise en forme de Contact */

/* Mise en forme du footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ff6247;
  border-top: 5px solid #a82d2d;
  height: 90px;
  width: 100%;
  font-family: "Press Start 2P", cursive;
}

/* Fin de la mise en forme du footer */

footer nav {
  width: 90%;
  margin: 0px 0px;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

footer li {
  background-color: #ff8826f8;
  border: 3px solid #f03838;
  border-radius: 10px;
  font-size: 20px;
  padding: 15px 15px;
}

footer a {
  text-decoration: none;
  color: #2b2b2b;
}

/* Fin de la mise en forme du footer */
